<div class="container">
  <div class="row">
    <div class="col-md-12">
      <section>
        <div class="card my-5">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <img src="{{offer.imagen}}" alt="{{offer.titulo}}" />
              </div>
              <div class="col-md-6">
                <div class="card-title"><h2>{{offer.titulo}}</h2></div>
                <div class="card-text mb-4">
                  <p>{{offer.descripcion}}</p>
                  <h4 class="text-danger">{{offer.precio_actual}}€</h4>
                  <h5>Precio recomendado: <del>{{offer.precio_habitual}}</del>€</h5>
                </div>
                <a href="{{offer.url}}" class="btn btn-primary" target="_blank">Ir a la oferta</a>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex align-items-center">
                <mat-icon class="mat-icon-mini">calendar_today</mat-icon>
                <small class="ml-2">Enviado el {{offer.fecha}}</small>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<app-offer-comments></app-offer-comments>
